langchain
langgraph
langchain-openai
langchain-community
langchain-chroma
openai
langchain-openai
langchainhub
youtube-transcript-api
streamlit
chromadb
tiktoken
requests
beautifulsoup4
pytube 
openai-whisper
google-api-python-client
whisper
git+https://github.com/openai/whisper.git
yt-dlp
moviepy
ragas
pydub
aiohttp
ragatouille
tavily-python
pypdf
cryptography
pdfplumber
layoutparser
paddleocr
pdf2image
opencv-python
opencv-python-headless
Pillow
paddlepaddle
torchvision
unstructured
unstructured[all-docs]
selenium
watchdog



